body {
    background: rgb(0, 0, 26);
    font: normal 14pt Arial;

}

header {
    color: white;
    text-align: center;
}

section {
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 14px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.325);
    
}

div {
    text-align: center;
    padding: 8px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}